/* Write your CSS here */

.container {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.heading {
  font-size: 32px;
}

.count-para {
  color: #334155;
  font-size: 22px;
}

.btn {
  color: #0f172a;
  background-color: white;
  border-width: 0;
  border-radius: 5px;
  padding: 7px 35px;
  font-size: 13px;
}

.para {
  font-size: 12px;
}
